<h1>How much are you spending at the gas station?</h1>

<form action="/results">
    <p>How many gallons of gas did you get?</p>
        
    <input type="text" name="amount">
        
    <input type ="submit">
</form>
